$font-stack: 'Montserrat', sans-serif;
$font-body-stack: "Montserrat", sans-serif;

$notSoDark: #555;
$agentOrange: #ffc657;
$darkerAgentOrange: darken($agentOrange, 5%);
$mintyGreen: #9EE493;
$lightRed: #c4464d;
