
$sidebar-width: 70px;
$buzz-width: 25vw;

$space:24px;


// media query breakpoint variables

$media-sm : 37.5em;  // 600px iphone
$media-md : 48em;    // 768px ipad
$media-lg : 62.5em;  // 1000px destop
$media-xl : 100em;   //1600px huge
