#Events {
  display: flex;
  flex-direction: row;
  .eventLine {
    position: absolute;
    width: 100%;
    background: $notSoDark;
    content: "";
  }
  #eventList {
    display: flex;
    flex-direction: column;

    .event {
      display: block;
      flex-direction: column;
      padding: 50px;
      border: 1px solid $notSoDark;
      // border-radius: 50%;
      color: $notSoDark;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 0px 20px;

      .event-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          max-width: 250px;
          min-height: 250px;

        }
      }
      .event-expand {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .event-friends {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          height: 50px;
          width: 50px;
        }
      }

    }
  }
}
