.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  z-index: 10;

  #EventForm {
    z-index: 3;
    display: flex;
    flex-direction: column;
    background: white;
    color: $notSoDark;
    margin: 20px;
    border: 1px solid $notSoDark;
    padding: 10px 5px;
    width: 60%;
    text-align: center;
    border-radius: 5px;
    height: 100%;
    overflow: auto;

    .errorMsg {
      color: $lightRed;
    }

    form {
      background: white;
      border-radius: 5px;
    }
    .addedFriends {
      .addedFriend {
        background: $mintyGreen;
        color: white;
        font-size: 1em;
        text-align: center;
        text-decoration: none;
        padding: $space/2 $space/3;
        display: inline-flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0px $space/6;
        max-width: 200px;
        border-radius: 4px;
        @include box_shadow($mintyGreen_h);
        img {
          @include profile_picture();
          width: $space * 1.5;
          height: $space * 1.5;
        }
      }
      input[name="eventInvites"] {
        @include theme_input(#ddd);
        margin-top: 30px;
        width: 40%;
      }
      button[type="submit"] {
        @include theme_button($blueGray);
        color: white;
        font-size: 0.6em;
      }
    }


    button.addEvent {
      @include theme_button($mintyGreen);
      color: white;
      margin: $space/2 auto;
      width: 25%;
    }

    input {
      border-color: #e2e2e6;
    }
    .eventMainInfo {
      display: flex;
      justify-content: center;
      background: white;
      margin-bottom: 20px;
      fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 1;
        margin-right: 10px;
        margin-left: 10px;
        border-width: 0;

      }
      input {
        @include theme_input(#ddd);
        width: 100%;
      }

    }
    .eventDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 5px;
      background: white;
      box-shadow: 0px 1px 1px #ffe;
      fieldset {
        border-width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        width: 100%;
        &.event-radios {
          font-size: 1em;
          display: flex;
          justify-content: space-around;
        }
        textarea {
          resize: none;
          @include theme_input(#ddd);
        }
        input[type="text"]{
          @include theme_input(#ddd);
        }

      }



    }
    img {
      width: 300px;
      float: right;
      height: 200px;
      margin: 0 $space;
      @include box_shadow(#ddd);

    }

    a.closeEventForm {
      position: absolute;
      top: 3%;
      right: 21%;
      color: $deepPurp;
      text-decoration: none;
      i {
        font-size: 24px;
        color: $deepPurp;
        &:hover{
          color: $mintyGreen;
        }
      }

    }
    strong {
      font-size: 28px;
      margin: 10px 0px;
      color: $notSoDark;
    }
    label {
      margin-right: $space * 3;
      margin-left: auto;
      display: inline-block;
      font-size: 16px;
      color: $notSoDark;

      input[type="radio"] {
        margin-left: 10px;
      }
    }
  }
}
