#Events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .eventLine {
    position: absolute;
    width: 100%;
    background: $notSoDark;
    content: "";
  }
  .eventListContainer {
    overflow-x: scroll;
    .eventDateline {
      display: flex;
      flex-direction: row;

      .eventMonth {
        padding: 20px;
        font-size: 3.5em;
        margin: 0 200px;
        font-weight: bold;
      }
    }
    .eventList {
      display: flex;
      flex-direction: row;
      width: 100%;
      // overflow-x: scroll;

      // border: 1px solid black;
    }
  }
}
