.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  #Greeting {

    .homeBtn {
      display: inline-block;
      padding: 5px;
      position: relative;
      z-index: 4;
      text-align: center;
      width: 100%;
      @include transition();
      i {
        font-size: 28px;
      }
    }

    .userInfo {

      figure {
        height: 55px;
        width: 55px;
        border: 2px solid $mintyGreen;
        border-radius: 50%;
        position: relative;
        display: block;
        margin: 0 auto;
        overflow: hidden;

        img {
          min-height: 100%;
          min-width: 100%;
          height: 110%;
          width: auto;
          @include centerer();

        }

      }

      .userName {
        width: 100%;
        text-align: center;
        padding-top: $space/4
      }
      .currentDate {
        text-align: center;
      }

    }

    .userActions {
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      ul {
        margin-left: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: inherit;


        li {
          transition: 0.2s all;
          width: 100%;
          padding: $space/3;

          a {

            i {
              font-size: 25px;
              color: darken($deepPurp, 10%);
              text-align: center;
              width: 100%;
              @include transition();
            }

          }

          &:hover i {
            @include transition();
            transform: scale(1.1);
            color: $mintyGreen;

            &:last-child i {
              color: darken($deepPurp, 10%);
            }
          }

          &:last-child {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 70px;
            background-color: $mintyGreen;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              font-size: 30px;
              color: $deepPurp;
            }

          }
        }
      }
    }
  }

}
