#Greeting {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // border: 1px solid $notSoDark;
  // width: 200px;
  // height: 150px;
  // border-radius: 5px;
  // margin: 10px 0px;

  .userInfo {
    // display: flex;
    // flex-direction: column;
    // width: 80%;
    // height: 100%;
    // padding: 10px;
    // justify-content: center;
    // align-items: center;

    .img-wrapper {
      height: 70px;
      width: 70px;
      border: 2px solid $mintyGreen;
      border-radius: 50%;
      position: relative;
      display: block;
      margin: 0 auto;
      overflow: hidden;

      img {
        min-height: 100%;
        min-width: 100%;
        height: 110%;
        width: auto;
        @include centerer();

      }

    }

      .userName {
        width: 100%;
        text-align: center;
        padding-top: $space/4
      }
      .currentDate {
        text-align: center;
      }

  }

  .userActions {
    // border-left: 1px solid $notSoDark;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul {

      li {
        margin: 10px;
        transition: 0.2s all;
        a {
          // color: $notSoDark;
        }
        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
