#Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  width: 100%;


  #ActionBar {
    height: 100%;
    border-bottom: 1px solid $notSoDark;
    padding: 10px;
    .actionList {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .u-action {
        margin: 0 25px;
      }
    }
  }
}
