#Home {
  width: 80%;
  #Greeting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
      font-size: 40px;
      font-weight: bold;
      color: $notSoDark;
      margin: 10px 0px;
    }
  }
}
