.Login {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .login-left {
    background: $mintyGreen;
    margin: 0 auto;
    height: 100%;
    display: inline-block;
    width: 40%;
    position: relative;
    #Login-Form {
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;



      input {
        font-size: 1.3em;
        width: 70%;
        padding: 10px;
        margin: 10px auto;
        border-radius: 4px;
        @include box_shadow($mintyGreen_h);
        border-width: 0;
        &:focus {
          outline: none;
          border: 2px solid $mintyGreen_h;
          @include box_shadow($mintyGreen_h);
        }
      }

      .new_user_profile_picture {
        margin: 10px auto;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 1px solid white;
      }

      button {
        font-size: 1.5em;
        cursor: pointer;
        padding: 10px 20px;
        border-width: 0;
        border-radius: 4px;
        margin: 10px 0px;
        &.loginBtn{
          background: $blueGray;
          @include box_shadow($blueGray_h);
          &:hover {
            background: $blueGray_h;
          }
        }
        &.registerBtn {
          background: $mintyGreen;
          border: 2px solid white;
          @include box_shadow($mintyGreen_h);
          &:hover {
            background: $mintyGreen_h;
          }
        }
        &:hover {
          transform: scale(1.1);
        }
        color: white;
        @include transition();

      }
    }
  }
  .login-right {
    text-shadow: 3.5px 3.5px 3.5px $notSoDark;
    height: 100%;
    box-sizing: border-box;
    width: 60%;
    display: inline-block;
    background-image: url("http://gratisography.com/pictures/249_1.jpg");
    background-size: cover;
    position: relative;

    .brand {
      filter: none;
      margin: 100px auto 10px;
      text-align: center;
      display: inline-block;
      color: white;
      width: 100%;
      height: 100%;
      font-size: 1.2em;
      h1 {
        margin: 10px 0px;
      }
      i {
        color: $mintyGreen;
        font-size: 7em;
        // color: black;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
      }
    }
  }
}
