
// ---------------------------- //
// Colors
// ---------------------------- //
$notSoDark: #555;
$agentOrange: #ffc657;
$agentOrange_h: darken($agentOrange, 10%);
$lightRed: #c4464d;


$lightest: #f8f8f8;

$grayBorder: #888;

// other possibles
/* RGB */
$gray: rgba(84, 84, 84, 1);
$platinum: rgba(214, 214, 214, 1);
// $pewterBlue: rgba(138, 176, 171, 1);
// $outerSpace: rgba(62, 80, 91, 1);
// $pineapple: #413C58;
// $nightBlue: #2D3A62;
$lightBlueGray: #7883b5;
$lighterBlueGray: lighten($lightBlueGray, 10%);
$blueGray: #606A99;
$blueGray_h: darken($blueGray, 10%);

$deepPurp: #3C3E6F;
$mintyGreen: #9EE493;
$mintyGreen_h: darken($mintyGreen, 10%);


// base color styles
%theme-bg-dark{

  h1, h2, h3, h4, h5, label, li, p, a, span {
      color: #fff;
  }
}

// base color styles
%theme-bg-light {

  h1, h2, h3, h4, h5, label, li, p, a, span {
      color: $notSoDark;
  }
}

.sidebar {
  @extend %theme-bg-dark;
}

.buzz {
  @extend %theme-bg-light;
}
