@mixin centerer() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// media query mixis
@mixin break-sm {
  @media (min-width: #{$media-sm})  {
    @content;
  }
}

@mixin break-med {
  @media (min-width: #{$media-sm}) {
    @content;
  }
}

@mixin break-lg {
  @media (min-width: #{$media-lg}) {
    @content;
  }
}

@mixin break-xl {
  @media (min-width: #{$media-xl}) {
    @content;
  }
}

// now use

  @include break-sm {
  // this are mobile styles
  }


// transition mixin

  @mixin transition() {
    transition: .2s all ease;
  }


  // box shadow mixin
  @mixin box_shadow($color) {
    box-shadow: 0px 2px 2px $color;
  }

  @mixin profile_picture() {
    height:$space*3;
    width:$space*3;
    border: 2px solid $mintyGreen;
    border-radius: 50%;
    position: relative;
    display: block;
    overflow: hidden;
    backface-visibility: hidden;
  }

  @mixin theme_button($btnColor) {
    font-size: 1em;
    cursor: pointer;
    padding: $space / 2 $space;
    border-width: 0;
    border-radius: 4px;
    margin: $space / 2 0px;
    background: $btnColor;
    margin-bottom: $space * 2;
    @include box_shadow(darken($btnColor, 10%));
    @include transition();
    &:hover {
      background: darken($btnColor, 10%);
    }
  }

  @mixin theme_input($shadowColor) {
    font-size: 1.3em;
    width: 70%;
    padding: $space / 2;
    margin: $space / 2 auto;
    border-radius: 4px;
    @include box_shadow($shadowColor);
    border-width: 0;
    &:focus {
      outline: none;
      border: 2px solid $shadowColor;
      @include box_shadow($shadowColor);
    }
  }
