
// ---------------------------- //
// Sidebar styles
// ---------------------------- //
.sidebar {
  height: 100vh;
  background-color: $deepPurp;
  width: $sidebar-width;
  position: absolute;
  // this is the highest z index we will use EVER!!
  z-index: 9;
  padding: $space/4;

  
}
