// Reset
* {
  margin: 0;
  padding: 0;
}

// Base Styles
html, body {
  font-family: $font-stack;
  width: 100%;
  height: 100%;
  color: $notSoDark;
  background: white;
}

// yay using all the html5 tags!
main.site-wrapper {
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: $lightest;
  overflow: hidden;
}
